<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{task.title}"></title>
    <link th:href="@{/css/form.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

</head>
<body>
<h1 th:text="#{task.headline}" th:class="task"></h1>
<div class="inner contact">
    <!-- Form Area -->
    <div class="contact-form">
        <form th:object="${task}" th:action="@{/task/new}" method="post">
            <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                <label th:for="description_input_id" th:text="#{task.desc}"></label>
                <br>
                <input type="text" id="description_input_id" th:field="*{description}">
                <br>
                <br>
                <div th:if="${#fields.hasErrors('description')}" th:class="'alert alert-danger'">
                    <ul>
                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                    </ul>
                </div>
                <label th:for="category_input_id" th:text="#{task.category}"></label>
                <br>
                <select id="category_input_id" th:field="*{category}">
                    <option th:each="categoryOpt : ${T(pl.mateuszlisinski.ex7.enums.Category).values()}"
                            th:value="${categoryOpt}" th:text="${categoryOpt.value}"></option>
                </select>
            </div>
            <br>
            <br>
            <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
                <label th:for="priority_input_id" th:text="#{task.priority}"></label>
                <br>
                <input type="text" id="priority_input_id" th:field="*{priority}">
                <br>
                <br>
                <div th:if="${#fields.hasErrors('priority')}" th:class="'alert alert-danger'">
                    <ul>
                        <li th:each="err : ${#fields.errors('priority')}" th:text="${err}"></li>
                    </ul>
                </div>
                <label th:for="date_input_id" th:text="#{task.date}"></label>
                <br>
                <input type="date" id="date_input_id" th:field="*{date}">
                <br>
                <br>
                <div th:if="${#fields.hasErrors('date')}" th:class="'alert alert-danger'">
                    <ul>
                        <li th:each="err : ${#fields.errors('date')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="relative fullwidth col-xs-12" th:class="button1">
                <button type="submit" th:text="#{task.create}" class="form-btn semibold"></button>
                <a th:href="@{/}">
                    <button type="button" th:text="#{task.return}" class="form-btn semibold"></button>
                </a>
            </div>
        </form>
    </div>
</div>

</body>
</html>