<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zadanie dodane!</title>
    <link th:href="@{/css/form.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
<h1>Udalo sie!</h1>
<div class="relative fullwidth col-xs-12">
    <a th:href="@{/}">
        <button type="button" th:text="#{task.list}" class="form-btn semibold"></button>
    </a>
</div>
</body>
</html>